.container {
    min-width: 120px;
    margin: 0 auto;
    padding: 0 20px;
    color: #646464;
}

.header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
}


.subtitle {
    font-size: 18px;
    color: gray;
    margin: 0;
}

.btn {
    margin-top: 10px;
    padding: 12px 30px;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 0;
    cursor: pointer;
    font-style: 16px;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    background-color:#c0392b;
    transform: scale(1.05);
}